<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
<appSettings>
    <clear />
    <add key="cmboLocale" value="en_US" />
    <add key="cmboClassID" value="ObjectStore" />
    <add key="tboxObjectID" value="ECM" />
    <add key="tboxDestFolder" value="\WatsonxDocs" />
    <add key="tboxCreateFolder" value="@BATCHID" />
    <add key="tboxRetryCount" value="2" />
    <add key="tboxTimeout" value="600000" />
    <add key="theGrid.watsonxai.Rows" value="0" />
    <add key="DocTypes" value="DocInvoice,DocBOL,DocUtility" />
    <add key="theGrid.DocInvoice.Rows" value="0" />
    <add key="theGrid.DocInvoice.Cols" value="0" />
    <add key="tboxDocTitle.DocInvoice" value="@B.D.P\DocInvoice" />
    <add key="tboxDocClass.DocInvoice" value="DocInvoice" />
    <add key="tboxFileExt.DocInvoice" value="pdf" />
    <add key="theGrid.Invoice.Rows" value="0" />
    <add key="theGrid.InvoiceNum.Rows" value="0" />
    <add key="tbFieldP8PropName.InvoiceNum" value="InvoiceNum" />
    <add key="FieldTypes" value="InvoiceNum,BillToName,BillToAddress,Date,ShipTo,SubTotal,Tax,Total,UtilityCustomer,UtilityBillDate,UtilityDueDate,UtilityAccount,UtilityDue,BOLDate,BOLNumber,BOLShipper,BOLCustomer" />
    <add key="cmbFieldP8PropType.InvoiceNum" value="String" />
    <add key="chkFieldEnabled.InvoiceNum" value="True" />
    <add key="chkBoxFieldMulti.InvoiceNum" value="False" />
    <add key="theGrid.BillToName.Rows" value="0" />
    <add key="tbFieldP8PropName.BillToName" value="BillToName" />
    <add key="cmbFieldP8PropType.BillToName" value="String" />
    <add key="chkFieldEnabled.BillToName" value="True" />
    <add key="chkBoxFieldMulti.BillToName" value="False" />
    <add key="theGrid.BillToAddress.Rows" value="0" />
    <add key="tbFieldP8PropName.BillToAddress" value="BillToAddress" />
    <add key="cmbFieldP8PropType.BillToAddress" value="String" />
    <add key="chkFieldEnabled.BillToAddress" value="True" />
    <add key="chkBoxFieldMulti.BillToAddress" value="False" />
    <add key="theGrid.Date.Rows" value="0" />
    <add key="tbFieldP8PropName.Date" value=" Date" />
    <add key="cmbFieldP8PropType.Date" value="String" />
    <add key="chkFieldEnabled.Date" value="True" />
    <add key="chkBoxFieldMulti.Date" value="False" />
    <add key="theGrid.ShipTo.Rows" value="0" />
    <add key="tbFieldP8PropName.ShipTo" value="shipTo" />
    <add key="cmbFieldP8PropType.ShipTo" value="String" />
    <add key="chkFieldEnabled.ShipTo" value="True" />
    <add key="chkBoxFieldMulti.ShipTo" value="False" />
    <add key="theGrid.SubTotal.Rows" value="0" />
    <add key="tbFieldP8PropName.SubTotal" value="SubTotal" />
    <add key="cmbFieldP8PropType.SubTotal" value="String" />
    <add key="chkFieldEnabled.SubTotal" value="True" />
    <add key="chkBoxFieldMulti.SubTotal" value="False" />
    <add key="theGrid.Tax.Rows" value="0" />
    <add key="tbFieldP8PropName.Tax" value="Tax" />
    <add key="cmbFieldP8PropType.Tax" value="String" />
    <add key="chkFieldEnabled.Tax" value="True" />
    <add key="chkBoxFieldMulti.Tax" value="False" />
    <add key="theGrid.Total.Rows" value="0" />
    <add key="tbFieldP8PropName.Total" value="Total" />
    <add key="cmbFieldP8PropType.Total" value="String" />
    <add key="chkFieldEnabled.Total" value="True" />
    <add key="chkBoxFieldMulti.Total" value="False" />
    <add key="tboxDocTitle.DocBOL" value="@B.D.P\BillOfLading" />
    <add key="tboxDocClass.DocBOL" value="BillOfLading" />
    <add key="tboxFileExt.DocBOL" value="pdf" />
    <add key="theGrid.DocBOL.Rows" value="0" />
    <add key="theGrid.DocBank.Rows" value="0" />
    <add key="theGrid.DocBank.Cols" value="0" />
    <add key="tboxDocTitle.DocBank" value="" />
    <add key="tboxDocClass.DocBank" value="" />
    <add key="tboxFileExt.DocBank" value="" />
    <add key="theGrid.DocWaybil.Rows" value="0" />
    <add key="theGrid.DocWaybil.Cols" value="0" />
    <add key="tboxDocTitle.DocWaybil" value="" />
    <add key="tboxDocClass.DocWaybil" value="" />
    <add key="tboxFileExt.DocWaybil" value="" />
    <add key="tboxDocTitle.DocUtility" value="@B.D.P\Utility" />
    <add key="tboxDocClass.DocUtility" value="Utlility" />
    <add key="tboxFileExt.DocUtility" value="pdf" />
    <add key="theGrid.DocUtility.Rows" value="0" />
    <add key="theGrid.Utility.Rows" value="0" />
    <add key="theGrid.UtilityCustomer.Rows" value="0" />
    <add key="tbFieldP8PropName.UtilityCustomer" value="UtilityCustomer" />
    <add key="cmbFieldP8PropType.UtilityCustomer" value="String" />
    <add key="chkFieldEnabled.UtilityCustomer" value="True" />
    <add key="chkBoxFieldMulti.UtilityCustomer" value="False" />
    <add key="theGrid.UtilityBillDate.Rows" value="0" />
    <add key="tbFieldP8PropName.UtilityBillDate" value="UtilityBillDate" />
    <add key="cmbFieldP8PropType.UtilityBillDate" value="String" />
    <add key="chkFieldEnabled.UtilityBillDate" value="True" />
    <add key="chkBoxFieldMulti.UtilityBillDate" value="False" />
    <add key="theGrid.UtilityDueDate.Rows" value="0" />
    <add key="tbFieldP8PropName.UtilityDueDate" value="UtilityDueDate" />
    <add key="cmbFieldP8PropType.UtilityDueDate" value="String" />
    <add key="chkFieldEnabled.UtilityDueDate" value="True" />
    <add key="chkBoxFieldMulti.UtilityDueDate" value="False" />
    <add key="theGrid.UtilityAccount.Rows" value="0" />
    <add key="tbFieldP8PropName.UtilityAccount" value=" UtilityAccount" />
    <add key="cmbFieldP8PropType.UtilityAccount" value="String" />
    <add key="chkFieldEnabled.UtilityAccount" value="True" />
    <add key="chkBoxFieldMulti.UtilityAccount" value="False" />
    <add key="theGrid.UtilityDue.Rows" value="0" />
    <add key="tbFieldP8PropName.UtilityDue" value="UtilityDue" />
    <add key="cmbFieldP8PropType.UtilityDue" value="String" />
    <add key="chkFieldEnabled.UtilityDue" value="True" />
    <add key="chkBoxFieldMulti.UtilityDue" value="False" />
    <add key="theGrid.BillofLading.Rows" value="0" />
    <add key="theGrid.BOLDate.Rows" value="0" />
    <add key="tbFieldP8PropName.BOLDate" value="BOLDate" />
    <add key="cmbFieldP8PropType.BOLDate" value="String" />
    <add key="chkFieldEnabled.BOLDate" value="True" />
    <add key="chkBoxFieldMulti.BOLDate" value="False" />
    <add key="theGrid.BOLNumber.Rows" value="0" />
    <add key="tbFieldP8PropName.BOLNumber" value="BOLNumber" />
    <add key="cmbFieldP8PropType.BOLNumber" value="String" />
    <add key="chkFieldEnabled.BOLNumber" value="True" />
    <add key="chkBoxFieldMulti.BOLNumber" value="False" />
    <add key="theGrid.BOLShipper.Rows" value="0" />
    <add key="tbFieldP8PropName.BOLShipper" value="BOLShipper" />
    <add key="cmbFieldP8PropType.BOLShipper" value="String" />
    <add key="chkFieldEnabled.BOLShipper" value="True" />
    <add key="chkBoxFieldMulti.BOLShipper" value="False" />
    <add key="theGrid.BOLCustomer.Rows" value="0" />
    <add key="tbFieldP8PropName.BOLCustomer" value="BOLCustomer" />
    <add key="cmbFieldP8PropType.BOLCustomer" value="String" />
    <add key="chkFieldEnabled.BOLCustomer" value="True" />
    <add key="chkBoxFieldMulti.BOLCustomer" value="False" />
</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
